.checkout_container {
  display: flex;
  align-items: start;
  max-width: 110rem;
  margin: 0 auto;
  padding: 50px 20px;
}

@media (max-width: 700px) {
  .checkout_container {
    flex-direction: column-reverse;
  }
}

.checkout_container--left {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
.checkout_container--left h3 {
  margin-bottom: 3rem;
}
/*-----------------Form State---------------------*/

.shipping_input_container {
  margin-bottom: 2rem;
}

.shipping_label,
.shipping_input,
.shipping_input_error {
  display: block;
}
.shipping_label {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.shipping_input_error {
  color: red;
  font-size: 1.4rem;
  margin-top: 0.8rem;
}
.shipping_input {
  padding: 1.2rem 1rem;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  background-color: rgba(8, 127, 91, 0.1);
  font-family: inherit;
}
.shipping_input:focus {
  outline: none;
}

/*------------------FormState-------------*/

.checkout_container--right {
  width: 500px;
  border-radius: 10px;
  border: 0.5px solid rgb(0, 0, 0, 0.5);
  margin-left: 30px;
  padding: 15px;
}
@media (max-width: 700px) {
  .checkout_container--right {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.secondary_txt {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.primary_txt {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.right_container_info {
  display: flex;
  justify-content: space-between;
}
.right_container_info:nth-of-type(3) {
  margin-top: 15px;
  margin-bottom: 10px;
}
.right_container_buttons {
  display: flex;
  flex-direction: column;
}
.right_container_buttons p {
  text-align: center;
  margin: 10px 0px;
}

.cta_buttons {
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #12b886;
  color: white;
  font-size: 15px;
}
.cta_buttons:hover {
  cursor: pointer;
}

.right_container_buttons .cta_buttons:nth-of-type(2) {
  background-color: #ffa94d;
}
