.Home {
  padding: 5rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.Home::before {
  content: 'FOOTBALL';
  display: inline-block;
  position: absolute;
  z-index: -1;
  top: 9rem;
  left: 0rem;
  font-size: 24rem;
  line-height: 0;
  font-weight: bolder;
  letter-spacing: 3rem;
  color: rgba(160, 160, 160, 0.164);
}
.Home__top--left {
  font-weight: bold;
}
.Home__top--left::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: rgb(4, 146, 4);
  border-radius: 50%;
  transform: translateY(-1rem) translateX(-0.5rem);
}
.Home__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*HOME MIDDLE*/
.Home__middle {
  display: flex;
  align-items: center;
  position: relative;
}

.Home__middle--content {
  width: 50%;
  animation-name: reveal-1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.Home__middle--content p {
  width: 92%;
  color: rgb(46, 46, 46);
  margin-bottom: 2rem;
}
.Home__middle--image {
  text-align: center;
  width: 50%;
  animation-name: reveal-2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.Home__middle--image img {
  height: 58.5rem;
}

.Home__middle--contenttitle {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.4;
}

/*home button*/
.Home__bottom {
  display: flex;
  justify-content: flex-end;
}

@keyframes reveal-1 {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-2 {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1000px) {
  .Home__middle--image img {
    height: 55rem;
  }
}

@media (max-width: 890px) {
  .Home {
    padding: 3rem;
  }
}
@media (max-width: 850px) {
  .Home {
    width: 700px;
  }
}
@media (max-width: 760px) {
  .Home__middle--image img {
    height: 50rem;
  }
  .Home__middle--contenttitle {
    font-size: 4rem;
  }
  .Home {
    width: 100%;
  }
  .Home__middle--content p {
    font-size: 1.4rem;
  }
  .Home__middle {
    height: 90vh;
  }
}
@media (max-width: 650px) {
  .Home {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .Home__middle--image img {
    height: 40rem;
  }
}
@media (max-width: 520px) {
  .Home__middle {
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
  }
  .Home__middle--content {
    width: 100%;
  }
  .Home__middle--image {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -7rem;
    left: 0;
    z-index: -1;
  }
  .Home__middle--image img {
    height: 32rem;
    transform: translateX(-4rem);
  }
  .Home__middle--image {
    text-align: right;
  }
  .Home__middle--content {
    color: white;
  }
  .Home__middle--content p {
    font-size: 1.4rem;
  }
  .Home__middle--contenttitle {
    text-shadow: 1px 1px 10px black;
    line-height: 1.2;
  }
}
