.Imagebutton {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  font-size: 1.4rem;
}
.Imagebutton:hover {
  cursor: pointer;
}

.Imagebutton__image {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  transform: translateX(-1rem);
}
.Imagebutton__image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
